<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Exercice Node/Express">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <script type="text/javascript" src="/index.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Node MVC</title>
</head>
